* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
}
.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 80px;
}
input {
  width: 500px;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 10px;
}
button {
  padding: 10px;
  width: 500px;
  border-radius: 10px;
  border: none;
  background-color: rgb(119, 149, 75);
  color: white;
  font-weight: 600;
  font-size: 16px;
}
button:hover {
  transition: all 0.5s;
  background-color: rgb(66, 88, 33);
  transform: scale(1.01);
}

.user__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.card {
  border: 1px solid rgb(88, 124, 124);
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  background-color: rgb(146, 208, 208);
}
.card:hover {
  transition: all 0.5s;
  transform: scale(1.05);
  background-color: rgb(76, 152, 152);
}
